* {
  margin-top: 1%;
  margin-left:0.5%;
}

.video-app {
  display: flex;
  flex-wrap: wrap;
}

.play {
  max-height: 300px;
  width: 250px;
  overflow-y: scroll;
}

.upload {
  width:350px;
}

.video {
  width: 350px;
}
